# General
__pycache__/
*.py[cod]
*$py.class
*.log
*.sqlite
*.db

# Environment variables
/.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Project Specific
Software/Raspberry/data/*.db
Software/Raspberry/logs/*.log
Python/data/*.db
.venv_sdk/
SDK/dist/
SDK/*.egg-info/
token.md
*.pypirc
