fastapi
uvicorn[standard]
redis
websockets
pydantic>=2.0
pydantic-settings
asyncpg
databases[postgresql]
python-multipart
requests
rq
pandas
matplotlib
openpyxl
python-jose[cryptography]
passlib[bcrypt]
bcrypt
seaborn
